.button {
  min-height: auto;
  min-width: auto;
  border: none;
  position: relative;
  padding: 10px 15px !important;
  margin: .3125rem 1px;
  font-size: 12px !important;
  font-weight: 400 !important;
  white-space: nowrap;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  letter-spacing: 0 !important;
  will-change: box-shadow, transform;
  background-color: #006989 !important;
  color: #fff !important;
  -webkit-box-shadow: 0 12px 10px -10px rgba(0, 105, 137, 0.25), 0 4px 10px 0px rgba(0, 105, 137, 0.22), 0 7px 8px -5px rgba(0, 105, 137, 0.2) !important;
  box-shadow: 0 12px 10px -10px rgba(0, 105, 137, 0.25), 0 4px 10px 0px rgba(0, 105, 137, 0.22), 0 7px 8px -5px rgba(0, 105, 137, 0.2) !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border-radius: 3px;
  text-transform: uppercase;
  -webkit-transition: background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1);
  transition: background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1);
  -o-transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1); }
  .button:hover, .button:focus {
    color: #FFFFFF;
    background-color: #006989;
    -webkit-box-shadow: 0 12px 10px -10px rgba(0, 17, 29, 0.58), 0 4px 10px 0px rgba(0, 17, 29, 0.32), 0 7px 8px -5px rgba(0, 17, 29, 0.2) !important;
    box-shadow: 0 12px 10px -10px rgba(0, 17, 29, 0.58), 0 4px 10px 0px rgba(0, 17, 29, 0.32), 0 7px 8px -5px rgba(0, 17, 29, 0.2) !important; }
  .button .fab, .button .fas, .button .far, .button .fal, .button .material-icons {
    position: relative;
    display: inline-block;
    top: 0;
    font-size: 1.1rem;
    margin-right: 4px;
    vertical-align: middle; }
  .button svg {
    position: relative;
    display: inline-block;
    top: 0;
    width: 18px;
    height: 18px;
    margin-right: 4px;
    vertical-align: middle; }
  .button #justIcon .fab, .button #justIcon .fas, .button #justIcon .far, .button #justIcon .fal, .button #justIcon .material-icons {
    margin-right: 0px;
    position: absolute;
    width: 100%;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    left: 0px;
    top: 0px;
    height: 100%;
    line-height: 41px;
    font-size: 20px; }

.buttonSimple {
  min-height: auto;
  min-width: auto;
  border: none;
  position: relative;
  padding: 10px 15px !important;
  margin: .3125rem 1px;
  font-size: 12px !important;
  font-weight: 400 !important;
  white-space: nowrap;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  letter-spacing: 0 !important;
  will-change: box-shadow, transform;
  background-color: transparent  !important;
  color: #006989 !important; }

.fullWidth {
  width: 100%; }

.white, .white:focus, .white:hover, .white:visited {
  background-color: #FFFFFF;
  color: red; }

.gold {
  background: -webkit-gradient(linear, left top, right bottom, from(#C49543), color-stop(50%, #FDD64E), to(#C88311));
  background: -webkit-linear-gradient(top left, #C49543, #FDD64E 50%, #C88311);
  background: -o-linear-gradient(top left, #C49543, #FDD64E 50%, #C88311);
  background: linear-gradient(to bottom right, #C49543, #FDD64E 50%, #C88311);
  font-weight: 500;
  text-shadow: 2px 2px 7px #4C1803, 2px -1px 7px #4C1803;
  -webkit-box-shadow: 0 12px 10px -10px rgba(196, 149, 67, 0.25), 0 4px 10px 0px rgba(196, 149, 67, 0.22), 0 7px 8px -5px rgba(196, 149, 67, 0.2) !important;
  box-shadow: 0 12px 10px -10px rgba(196, 149, 67, 0.25), 0 4px 10px 0px rgba(196, 149, 67, 0.22), 0 7px 8px -5px rgba(196, 149, 67, 0.2) !important; }
  .gold:hover, .gold:focus {
    -webkit-box-shadow: 0 12px 10px -10px rgba(196, 149, 67, 0.78), 0 4px 10px 0px rgba(196, 149, 67, 0.52), 0 7px 8px -5px rgba(196, 149, 67, 0.2) !important;
    box-shadow: 0 12px 10px -10px rgba(196, 149, 67, 0.78), 0 4px 10px 0px rgba(196, 149, 67, 0.52), 0 7px 8px -5px rgba(196, 149, 67, 0.2) !important; }

.silver {
  background: -webkit-gradient(linear, left top, right bottom, from(#949494), color-stop(50%, #DBDBDB), to(#8B8B8B));
  background: -webkit-linear-gradient(top left, #949494, #DBDBDB 50%, #8B8B8B);
  background: -o-linear-gradient(top left, #949494, #DBDBDB 50%, #8B8B8B);
  background: linear-gradient(to bottom right, #949494, #DBDBDB 50%, #8B8B8B);
  font-weight: 500;
  text-shadow: 2px 2px 7px #333333, 2px -1px 7px #333333;
  -webkit-box-shadow: 0 12px 10px -10px rgba(148, 148, 148, 0.25), 0 4px 10px 0px rgba(148, 148, 148, 0.22), 0 7px 8px -5px rgba(148, 148, 148, 0.2) !important;
  box-shadow: 0 12px 10px -10px rgba(148, 148, 148, 0.25), 0 4px 10px 0px rgba(148, 148, 148, 0.22), 0 7px 8px -5px rgba(148, 148, 148, 0.2) !important; }
  .silver:hover, .silver:focus {
    -webkit-box-shadow: 0 12px 10px -10px rgba(148, 148, 148, 0.78), 0 4px 10px 0px rgba(148, 148, 148, 0.52), 0 7px 8px -5px rgba(148, 148, 148, 0.2) !important;
    box-shadow: 0 12px 10px -10px rgba(148, 148, 148, 0.78), 0 4px 10px 0px rgba(148, 148, 148, 0.52), 0 7px 8px -5px rgba(148, 148, 148, 0.2) !important; }

.bronze {
  background: -webkit-gradient(linear, left top, right bottom, from(#8A3A15), color-stop(50%, #AD5B0F), to(#66230F));
  background: -webkit-linear-gradient(top left, #8A3A15, #AD5B0F 50%, #66230F);
  background: -o-linear-gradient(top left, #8A3A15, #AD5B0F 50%, #66230F);
  background: linear-gradient(to bottom right, #8A3A15, #AD5B0F 50%, #66230F);
  font-weight: 500;
  text-shadow: 2px 2px 7px #3C1008, 2px -1px 7px #3C1008;
  -webkit-box-shadow: 0 12px 10px -10px rgba(138, 58, 21, 0.25), 0 4px 10px 0px rgba(138, 58, 21, 0.22), 0 7px 8px -5px rgba(138, 58, 21, 0.2) !important;
  box-shadow: 0 12px 10px -10px rgba(138, 58, 21, 0.25), 0 4px 10px 0px rgba(138, 58, 21, 0.22), 0 7px 8px -5px rgba(138, 58, 21, 0.2) !important; }
  .bronze:hover, .bronze:focus {
    -webkit-box-shadow: 0 12px 10px -10px rgba(138, 58, 21, 0.78), 0 4px 10px 0px rgba(138, 58, 21, 0.52), 0 7px 8px -5px rgba(138, 58, 21, 0.2) !important;
    box-shadow: 0 12px 10px -10px rgba(138, 58, 21, 0.78), 0 4px 10px 0px rgba(138, 58, 21, 0.52), 0 7px 8px -5px rgba(138, 58, 21, 0.2) !important; }

.simple, .simple:focus, .simple:hover, .simple:visited {
  color: #FFFFFF;
  background: transparent;
  -webkit-box-shadow: none;
  box-shadow: none; }

.simple#primary, .simple#primary:focus, .simple#primary:hover, .simple#primary:visited {
  color: #006989; }

.transparent, .transparent:focus, .transparent:hover, .transparent:visited {
  color: inherit;
  background: transparent !important;
  -webkit-box-shadow: none;
  box-shadow: none; }

.disabled {
  opacity: 0.65;
  pointer-events: none; }

.lg {
  padding: 1.125rem 2.25rem;
  font-size: 0.875rem;
  line-height: 1.333333;
  border-radius: 0.2rem; }

.sm {
  padding: 0.40625rem 1.25rem;
  font-size: 0.6875rem;
  line-height: 1.5;
  border-radius: 0.2rem; }

.round {
  border-radius: 30px; }

.block {
  width: 100% !important; }

.link, .link:hover, .link:focus {
  background-color: transparent;
  color: #999999;
  -webkit-box-shadow: none;
  box-shadow: none; }

.justIcon {
  padding-left: 12px;
  padding-right: 12px;
  font-size: 20px;
  height: 41px;
  min-width: 41px;
  width: 41px; }
  .justIcon .fab, .justIcon .fas, .justIcon .far, .justIcon .fal, .justIcon svg, .justIcon .material-icons {
    margin-right: 0px; }
  .justIcon#lg {
    height: 57px;
    min-width: 57px;
    width: 57px;
    line-height: 56px; }
    .justIcon#lg .fab, .justIcon#lg .fas, .justIcon#lg .far, .justIcon#lg .fal, .justIcon#lg .material-icons {
      font-size: 32px;
      line-height: 56px; }
    .justIcon#lg svg {
      width: 32px;
      height: 32px; }
  .justIcon#sm {
    height: 30px;
    min-width: 30px;
    width: 30px; }
    .justIcon#sm .fab, .justIcon#sm .fas, .justIcon#sm .far, .justIcon#sm .fal, .justIcon#sm .material-icons {
      font-size: 17px;
      line-height: 29px; }
    .justIcon#sm svg {
      width: 17px;
      height: 17px; }
